html, body {
    background-color: teal;
    margin: 1%;
}

p {
    background-color: seashell;
}

.orangeStyle {
    border: 1px solid black;
    padding: 2px;
    background-color: orange;
}

#nickiImage {
    width: 100%;
}